<!doctype html>
<html ng-app="demo">
	<head>
		<title>Hello AngularJS</title>
<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    	<script src="hello.js"></script>
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    	<link rel="stylesheet" href="bulma.css">
	</head>

	<body>
	<section class="section">
	<div class="container">
		<div id="map"></div>
		<div ng-controller="Hello">
		<div ng-repeat="airport in airports">
	            <div ng-repeat="(key, value) in airport">{{key}} : {{value}}</div>
	            <br>
                </div>
		</div>
    <script>

      // This example adds a marker to indicate the position of Bondi Beach in Sydney,
      // Australia.
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: {lat: -33, lng: 151}
        });

        var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
        var beachMarker = new google.maps.Marker({
          position: {lat: -33.890, lng: 151.274},
          map: map,
          icon: image
        });
      }
    </script>
    <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnlurMIyIWOGjoVpr5xqfHJZyqXVaUGYE&callback=initMap">
    </script>
	</div>
	</section>
	</body>
</html>
